:root{
  --accent-color:#2196f3;
  --normal-color:#FFFFFF;
  --primary-color: #212121;
  --minor-color: #757575;
  --secondary-color: #f5f4fa;
  --secondary-font: 'Raleway', sans-serif;
}
.button{
  font-family: inherit;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: "Roboto", sans-serif;
}
/*Logo Style*/
.logo-web {
  color: var(--accent-color);
  font-family:var(--secondary-font)
}
.logo-studio {
  color: #000000;
  font-family: var(--secondary-font)
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/*Header Style*/
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-tel,
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}
.header-tel:hover,
.header-mail:hover,
.header-link:hover .header-tel:focus,
.header-mail:focus,
.header-lonk:focus {
  color: var(--accent-color);
}

/*Main Content Board Style*/
.main-board {
  background-color: #2f303a;
}

.board-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;  
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--normal-color);
}
.main-btn {
  font-weight: 700; 
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--normal-color); 
}
.main-btn:hover,
.main-btn:focus {
  background-color: var(--accent-color);
}

/* Main Content Style Особенности*/
.features-bottom-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.text-features {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/* Main Content Style Чим ми займаємося*/
.profile-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/*Main Content  Team Style*/
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-worker {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/*Footer Style*/
.footer {
  background-color: #2f303a;
}
.footer-link-map {
  font-style: normal;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--normal-color);
}
.footer-mail,
.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link-map:hover,
.footer-link-map:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}
/*PORTFOLIO STYLE*/
/*Potrfolio Main Style*/
.main-btn-item {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
}
.main-btn-item:hover,
.main-btn-item:focus {
  color: var(--normal-color);
  cursor: pointer;
  background-color: var(--accent-color);
}

/*Portfolio Project Style*/
.project-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.project-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
